.cell__delete-option {
  color: $link-color;
  @extend .hand-pointer;
}

.grid__cell--name {
  padding-left: 10px;
}

.grid__cell--delete {
  font-size: 14px;
}


.grid__cell--trait, .grid__cell--delete {
  text-align: center;
  vertical-align: middle;
}
